/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   About.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jmykkane <jmykkane@student.hive.fi>        +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/11/09 06:34:55 by jmykkane          #+#    #+#             */
/*   Updated: 2023/11/09 06:35:00 by jmykkane         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.About {
	background-color: #FFF2D8;
	height: 100vh;
}

.About h1 {
	font-family: 'Roboto Slab', serif;
	color: #0C356A;
	font-size: 32px;
}