/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   App.css                                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jmykkane <jmykkane@student.hive.fi>        +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/11/02 07:09:05 by jmykkane          #+#    #+#             */
/*   Updated: 2023/11/19 16:21:28 by jmykkane         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

/* GENERAL */
.App {
	background: #F8EAD8;
	position: fixed;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
}

.App-content {
	height: calc(100vh - 6vh);
	width: calc(100vw - 6vh);
	overflow-y: scroll;
	padding-right: 3vh;
	padding-left: 3vh;
}

.App-content-top {
    background: #F8EAD8;
    position: sticky;
    z-index: 10;
    height: 3vh;
	right: 0;
	left: 0;
    top: 0;
}

.App-content-bottom {
	background: #F8EAD8;
	position: sticky;
	height: 3vh;
	z-index: 10;
	bottom: 0;
	right: 0;
	left: 0;
}

/* HIDING SCROLL BAR */
.App-content::-webkit-scrollbar { /* Safari and Chrome */
	display: none;
}
.App-content { /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.App-content::-ms-Scrollbar { /* Edge */
    display: none;
}