/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Contact.css                                        :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jmykkane <jmykkane@student.hive.fi>        +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/11/05 11:55:39 by jmykkane          #+#    #+#             */
/*   Updated: 2023/11/19 16:34:01 by jmykkane         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.Contact {
	background-color: #FFF2D8;
	margin-top: -6vh;
	height: 100vh;
	width: auto;
}

.Contact h1 {
	font-family: 'Roboto Slab', serif;
	color: #0C356A;
	font-size: 64px;
}
