/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   header.css                                         :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jmykkane <jmykkane@student.hive.fi>        +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/11/05 11:53:44 by jmykkane          #+#    #+#             */
/*   Updated: 2023/11/06 21:18:38 by jmykkane         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.Header {
	justify-content: space-between;
	width: calc(100% - 6vh);
	padding-left: 5vh;
	padding-right: 5vh;
	padding-top: 5vh;
	position: absolute;
	display: flex;
	height: 6vh;
	z-index: 10;
}

.Header a {
	font-family: 'Monaco', 'Monospace';
	color: #0C356A;
	font-size: 20px;
	
	transition: transform 0.2s ease;
}

.Header a:hover {
	transform: scale(1.1);
}