/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Landing.css                                        :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jmykkane <jmykkane@student.hive.fi>        +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/11/05 11:57:32 by jmykkane          #+#    #+#             */
/*   Updated: 2023/11/19 16:29:40 by jmykkane         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.Landing {
	background: #FFF2D8;
	position: relative;
	margin-top: -5vh;
	display: flex;
	height: 100vh;
	width: 100%;
	z-index: 5;
}

.Landing-right {
	padding-left: 40vh;
	position: absolute;
	height: 100vh;
    width: 100%;
	z-index: 6;
    left: 0;
    top: 0;
}

.Landing-left {
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 3vh;
	padding-top: 33vh;
	line-height: 1;
	height: 100vh;
	width: 100%;
	z-index: 10;
}

.Landing-left h1 {
	font-family: 'Roboto Slab', serif;
	color: #0C356A;
	font-size: 64px;
}

.Landing-left b {
	font-family: 'Roboto Slab', serif;
	color: #FFC436;
	font-size: 64px;
}

.Landing-left span {
	font-family: 'Monaco', serif;
	margin-left: -10px;
	color: #0174BE;
	font-size: 64px;
}

.Landing-left p {
	font-family: 'Roboto Slab', serif;
	margin-top: 1vh;
	color: #0C356A;
	font-size: 24px;
}

.span-highlight {
	font-family: 'Roboto Slab', serif !important;
	color: #FFC436 !important;
	font-size: 24px !important;
	padding-left: 17px;
	padding-right: 7px;
  }

  @media (max-width: 1015px) {
	.Landing {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.Landing-right,
	.Landing-left {
		justify-content: center;
		align-items: center;
		position: static;
		padding-top: 5vh;
		display: flex;
		height: auto;
		width: auto;
		z-index: 1;
	}

	.Landing-right {
		padding-bottom: 0;
		margin-bottom: 0;
		padding-right: 0;
		margin-left: 0;
		order: -1;
	}

	.Landing-left {
		margin-top: -10vh;
		padding-top: 0;
		padding-left: 1vh;
		padding-right: 1vh;
	}

	.Landing-left p,
	.Landing-left span {
		display: none;
	}

	.Landing-left b,
	.Landing-left h1 {
		font-family: 'Roboto Slab', serif;
		color: #0C356A;
		font-size: 46px;
	}

	.Landing-left b {
		color: #FFC436;
	}

	.Character {
		height: 100%;
	}
}
