/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Projects.css                                       :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jmykkane <jmykkane@student.hive.fi>        +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/11/16 20:00:58 by jmykkane          #+#    #+#             */
/*   Updated: 2023/11/19 19:09:45 by jmykkane         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.Projects {
	background-color: #FFF2D8;
	padding-top: 20vh;
	height: 150vh;
	width: auto;

	/* box-sizing: border-box; */
}

.Projects h1 {
	font-family: 'Roboto Slab', serif;
	/* display: flex; */
	/* justify-content: center; */
	margin-bottom: 3vh;
	color: #0C356A;
	font-size: 64px;
}

.Projects span {
	font-family: 'Monaco', serif;
	margin-left: -10px;
	color: #0174BE;
	font-size: 64px;
}
  
.container {
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	display: flex;
	width: 33%;

	font-family: 'Roboto Slab', serif;
}

.text {
	font-size: 5vw;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	/* color: rgb(182, 182, 182, 0.2); */
	color: #0C356A;
	background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 0%;
	transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;

	border-bottom: 1px solid #2F2B28;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
}

/* What comes on hovering */
.container span {
	position: absolute;
	margin-left: 0 !important; 
	height: 100%;
	width: 100%;
	background-color: #D1B48C;
	color: #0174BE;

	clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
	transform-origin: center;
	transition: all cubic-bezier(.1,.5,.5,1) 0.4s;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Rectangle animation */
.text:hover > span {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container a {
	text-decoration: none;
	color: inherit;
}